In [20]:
import pandas as pd
from sqlalchemy import create_engine, text, inspect
# LlamaIndex imports for SQL query engine
from llama_index.llms.azure_openai import AzureOpenAI
from llama_index.core import SQLDatabase, Settings
from llama_index.core.query_engine import NLSQLTableQueryEngine

In [21]:
db_password = ""
from urllib.parse import quote_plus

encoded_password = quote_plus(db_password)
connection_string = f"postgresql://postgres.winxhexdlkffhwxbxwve:{encoded_password}@aws-0-us-east-2.pooler.supabase.com:5432/postgres"
engine = create_engine(connection_string)

In [22]:
with engine.connect() as conn:
    conn.execute(text("SELECT 1"))

In [23]:
def get_tables(engine):
    """Get list of tables in the database."""
    try:
        inspector = inspect(engine)
        tables = inspector.get_table_names(schema='public')
        return tables
    except Exception as e:
        print(f"Error fetching tables: {str(e)}")
        return []

In [24]:
def get_table_info(engine, table_name: str):
    """Get table schema information."""
    try:
        inspector = inspect(engine)
        columns = inspector.get_columns(table_name, schema='public')
        return columns
    except Exception as e:
        print(f"Error fetching table info: {str(e)}")
        return []

In [25]:
llm = AzureOpenAI(
    model="gpt-4o",
    deployment_name="gpt-4o",
    api_key=api_key,
    azure_endpoint=azure_endpoint,
    api_version=api_version,
)

In [26]:
Settings.llm = llm

In [27]:
selected_tables = get_tables(engine)

In [28]:
def setup_sql_engine(engine, selected_table=None):
    """Setup the SQL database and query engine."""
    try:

        print(f"🔍 Selected table: {selected_table}")
        
        # Create SQLDatabase
        sql_db = SQLDatabase(engine, include_tables=[selected_table])
        
        # Create SQL query engine with enhanced prompting
        sql_engine = NLSQLTableQueryEngine(
            sql_database=sql_db,
            verbose=True,
        )
        
        print(f"✅ SQL Query Engine initialized with tables: {', '.join([selected_table])}")

        return sql_engine
    except Exception as e:
        print(f"❌ Error setting up SQL engine: {str(e)}")
        raise

In [38]:
question = "②21年上期（4～9月）に発生したトラブルは計何件ですか？"
selected_table = get_tables(engine)[0]
selected_table
# %%

'test_table'

In [39]:
sql_engine = setup_sql_engine(engine, selected_table=selected_table)

🔍 Selected table: test_table
✅ SQL Query Engine initialized with tables: test_table

In [40]:
result = sql_engine.query(question)

> Table Info: Table 'test_table' has columns: 発生日付 (TIMESTAMP), 発生部署 (TEXT), グレード (TEXT), トラブル内容 (TEXT), 発生原因 (TEXT), 対策 (TEXT), 損失金額_単位百万円_ (DOUBLE PRECISION), 原因分類 (TEXT), .
> Table desc str: Table 'test_table' has columns: 発生日付 (TIMESTAMP), 発生部署 (TEXT), グレード (TEXT), トラブル内容 (TEXT), 発生原因 (TEXT), 対策 (TEXT), 損失金額_単位百万円_ (DOUBLE PRECISION), 原因分類 (TEXT), .
> Predicted SQL query: SELECT COUNT(*) FROM test_table WHERE 発生日付 >= '2021-04-01' AND 発生日付 <= '2021-09-30';


Assuming the SQL query is executed and returns a result:

plaintext

In [41]:
result

Response(response="It seems there was an error in the SQL execution due to an invalid statement. The query was intended to count the number of incidents that occurred between April 1, 2021, and September 30, 2021. However, the SQL statement was not properly formatted or executed, leading to a syntax error.\n\nTo resolve this, ensure that the SQL query is correctly formatted and executed in an appropriate SQL environment. The correct SQL query should be:\n\n```sql\nSELECT COUNT(*) FROM test_table WHERE 発生日付 >= '2021-04-01' AND 発生日付 <= '2021-09-30';\n```\n\nOnce executed correctly, this query will return the total number of incidents that occurred during the specified period. If you have access to the database, please try running the corrected query to obtain the desired result.", source_nodes=[NodeWithScore(node=TextNode(id_='26b2ea4a-5d80-4fe2-96af-4eca13db7238', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, metadata_template='{key}: {value}', metadata_separator='\n', text='Error: Statement "SELECT COUNT(*) FROM test_table WHERE 発生日付 >= \'2021-04-01\' AND 発生日付 <= \'2021-09-30\';\\n\\n\\nAssuming the SQL query is executed and returns a result:\\n\\nplaintext" is invalid SQL.\nError: syntax error at or near "Assuming"\nLINE 4: Assuming the SQL query is executed and returns a result:\n        ^\n', mimetype='text/plain', start_char_idx=None, end_char_idx=None, metadata_seperator='\n', text_template='{metadata_str}\n\n{content}'), score=None)], metadata={'26b2ea4a-5d80-4fe2-96af-4eca13db7238': {}, 'sql_query': "SELECT COUNT(*) FROM test_table WHERE 発生日付 >= '2021-04-01' AND 発生日付 <= '2021-09-30';\n\n\nAssuming the SQL query is executed and returns a result:\n\nplaintext"})

In [37]:
result.response

'2021年4月に発生したトラブルは合計で4件です。'